@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand-green: #14474E;
}

.card {
  @apply shadow-none border
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
